@import "/sass/variables.scss";

.contactPage{
  animation: expand .2s ease forwards;

  &__main{
    display: flex;
    gap: 12em;
  }
}

.otherContact__each{
  display: flex;
  gap: 2em;
}


.fill {

  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center;
  gap: 24px;
  justify-content: start;
  // margin-bottom: 24px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.otherContact{
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  margin-left: 2rem;
  gap: 1rem;

  a{
    svg{
      &:hover{
        fill: $flexColor !important;
      }
    }

    padding: 0.5rem;
    border-radius: 50%;

    svg{
      :hover{
      }
    }
  }
}