@import "../../../sass/variables.scss";

.aboutPage {

  align-items: center;
  gap: 12em;

  &__content {
    text-align: left;
    padding-left: 4rem;
    line-height: 1.6em;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    flex-direction: column;
    align-items: flex-start;

    &__download {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 0.5em 1em;
      justify-content: center;
      line-height: 1.5em;
      color: $secondaryColor;
      // background-color: $flexColor;
      background-color: $flexColor;
      border-radius: 4px;
      text-align: center;
      font-size: 1em;
    }
  }

  &__skills{
    // background-color: #a5a58d;
    // width: 400px;
    display: flex;
    flex-direction: column;
    gap: 3em;
    // height:400px !important;
    border: 1px solid #a5a58d;
    padding: 2em 1em;
    height: 100%;
  }
  

}