@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

body {
  margin: 0;
  font-family: Lato, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bold{
  font-weight: 700;
}
.semi-bold{
  font-weight: 500;
}

.font-xl{
  font-size: 1.5vmax;
}

.font-l{
  font-size: 1.25vmax;
}

.font-m{
  font-size: 1vmax;
}

.font-s{
  font-size: 0.5vmax;
}

.font-ss{
  font-size: 14px;
}

.flex{
  display: flex;
}

.big-banner{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 6vmax;
}

.hand-written{
  font-family: Fuzzy Bubbles;

}

.cursor-pointer{
  cursor: pointer;
}

.paper-border{
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.text-box{
  height: 200px;
}

input:focus{
  outline: none;
}

.italic{
  font-style: italic;
}

.flex-text{
  color: #FE5A43;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.text-left{
  text-align: left;
}